.panel-heading {
	background-color:blue;
}

.jumbotron {
	/*background credit to google images*/
	background-image:url(polarexpress.jpg);
	background-size:cover;
	background-position:10%;
	color:white;
}

.container {
	background-color:rgba(0,0,0,.5);
	border-radius:15px;
	text-align:center;
}

body{
	background-color:#1c1a23;
	color:white;
}

